body {
    /* font-family: Arial, sans-serif; */
    /* margin: 0;
    padding: 0; */
    background-color: #f0f0f0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
}

.questions {
    background-color: #f8fffe;
    height: 50px;
    margin-top: 20px;
    padding: 15px;
    max-width: 600px;
    border-left: 8px solid green;
    display: flex;
    align-items: center;
}

p {
    margin: 0;
    font-size: 16px;
}
